.wrap {
    padding: 20px;
}

.date_box {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-size: 60px;
}

.at-article__p {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
